/* .md-typeset code {
    color:#cbdc38;
} */
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: .9rem;
}

a,
td {
    font-size: .8rem;
}

.glightbox {
    display: flex;
}

.glightbox>img {
    margin-inline: auto;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Scope One', serif;
}

[data-md-color-scheme="slate"] {
    background-color: black;
}

.md-search__form {
    min-width: 15rem;
    width: 20rem;
    border-radius: 1rem;
}

.md-search__inner {
    min-width: 100%;
}

@media screen and (min-width: 60em) {
    .md-search__inner {
        width: 100% !important;
        min-width: 100% !important;
    }
}

.md-search__output {
    width: unset;
}