/* .md-typeset code {
    color:#cbdc38;
} */
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: .9rem;
}

a,
td {
    font-size: .8rem;
}

.glightbox {
    display: flex;
}

.glightbox>img {
    margin-inline: auto;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Scope One', serif;
}

[data-md-color-scheme="slate"] {
    background-color: black;
}

.md-search__form {
    min-width: 15rem;
    width: 20rem;
    border-radius: 1rem;
}

.md-search__inner {
    min-width: 100%;
}

@media screen and (min-width: 60em) {
    .md-search__inner {
        width: 100% !important;
        min-width: 100% !important;
    }
}

.md-search__output {
    width: unset;
}

@keyframes custom {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.md-header__button.md-logo>img {
    animation: custom ease-in-out 3s infinite;
}

.md-nav__link {
    padding: .3rem .1rem;
    box-shadow: 0rem -0.125rem 0rem 0rem hsl(1, 83%, 63%) inset;
    transition: box-shadow 150ms ease-in-out;
}

.md-nav__link:hover {
    box-shadow: 0rem -2rem 0rem 0rem hsl(1, 83%, 63%) inset;
    color: white;
}

.md-nav__item .md-nav__link--active {
    box-shadow: 0rem -2rem 0rem 0rem hsl(1, 83%, 63%) inset;
    color: white;
}